<%- model_class = Flat -%>
<div class="page-header">
  <% if params[:flat_type] === 'SHOP' || @flat.flat_type === 'SHOP' %>
      <h1>Edit Shop</h1>
  <% else %>
      <h1>Edit Flat</h1>
  <% end %>
</div>
<%= render :partial => 'form' %>
