<%- model_class = Flat -%>
<div class="page-header">
  <% if params[:flat_type] === 'SHOP' %>
      <h1>Add New Shop</h1>
  <% else %>
      <h1>Add New Flat</h1>
  <% end %>
</div>
<%= render :partial => 'form' %>
