<div class="page-header">
  <div class="row">
    <div class="col-md-4">
      <div class="col-md-2">
        <%= link_to booking_detail_path(@booking_details) do %>
            <i class="glyphicon glyphicon-arrow-left btn btn-warning"></i>
        <% end %>
      </div>
      <div class="col-md-8">
        <h4><strong><%= 'Documents'.upcase %></strong></h4>
      </div>
    </div>
    <div class="col-md-8">
      <div class="col-md-2 col-sm-6 col-xs-5">
        <%= link_to "New", new_booking_detail_customer_document_path, :class => 'btn btn-primary btn-sm btn-block' %>
      </div>
    </div>
  </div>
  <div class="row">
    <%= render_gallery_for @customer_documents, original: -> customer_document { customer_document.path.url}, thumbnail: -> customer_document { customer_document.path.url}, title: 'name', list_tag: :div, item_class: 'col-md-4', item_tag: :span %>
  </div>
</div>