<div class="row" style="padding: 0.5rem; background-color: #e1e1e1; color: #2E2F30">
  <%= form_tag type_of_structures_add_path, method: :get, id: ''  do %>

      <div class="col-md-4"><strong>Type of structure</strong> <%= text_field_tag :name, params[:name],placeholder: 'Type Of Structure',
                                                                              class: 'form-control', id: '' %></div>

      <%= submit_tag 'ADD', class: 'btn btn-default'  %>
  <% end %>
</div>
<hr/>

<table class="table table-stripped">
  <thead>
  <tr>
    <th>Type OF structures</th>
  </tr>
  </thead>
  <tbody>
  <% @type_of_structure.each do |typeOfStructure| %>
      <tr>
        <td><%= typeOfStructure.name %></td>
      </tr>
  <% end %>
  </tbody>
</table>