/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require devise_bootstrap_views
 *= require jquery-ui
 * require bootstrap-material-design
 *= require font-awesome
 *= require bootstrap-multiselect
 * require bootstrap-material-design-rails
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require_tree .
 *= require_self
 */


body{
    background-color: #F5F5F5 !important;
    padding-top: 60px;
    padding-bottom: 60px;
}

footer{
    width: 100%;
    position: fixed;
    padding: 10px 0;
}
footer{
    bottom: 0;
    background: #333;
    color: #fff;
}

ul.nav.navbar-nav>li>a, div.navbar-header>a.navbar-brand{
    color: #FFFFFF;
}


.table{
    overflow: auto !important;
}

.card{
    background-color: #E0E0E0;
}
a>div.flats-well:hover{
    background-color: #00897b !important;
}
a>div.flats-well{
    color: #FFFFFF;
    background-color: #00897b !important;
}
a.flats-well {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.row.custom-row{
    margin-top: 0.5rem;
}

@media (min-width: 768px){
    .form-horizontal .control-label {
        text-align: left !important;
        margin-bottom: 0;
        padding-top: 7px;
    }
    .dl-horizontal dt{
        text-align: left !important;
    }

}

@media only screen and (max-device-width: 400px) {
    table.table-responsive{
        width: 350px !important;
        overflow: auto !important;
    }
}
.badge{
    background-color: rgb(255, 255, 255) !important;
    color: #000 !important;
    border: .1px solid #006064;
}
ul.nav.navbar-nav>li>a:hover,div.navbar-header>a.navbar-brand:hover{
    background-color: rgba(44, 121, 127, 0.86);
    color: #FFFFFF;
}
.dropdown-menu{
    -webkit-box-shadow: none;
    background-color: #006064;
    border: none !important;
}
ul.nav.navbar-nav.navbar-right>li.open>a{
    background-color: rgba(44, 121, 127, 0.86) !important;
}
.nav>li>a:focus{
    background-color: rgba(44, 121, 127, 0.86) !important;
}
ul.nav.navbar-nav.navbar-right>li.open>ul.dropdown-menu>li>a{
    color: #FFFFFF !important;
    background-color: #006064;
}
ul.nav.navbar-nav.navbar-right>li.open>ul.dropdown-menu>li>a:hover{
    background-color: rgba(44, 121, 127, 0.86) !important;
}
.navbar-default{
    background-color: #006064 !important;
}

hr{
    border-bottom: 1px solid #ddd !important;
    margin: 10px;
}

.card{
    border-radius: .5rem;
}
form .error {
    color: #c31209;
    font-weight: 400;
    font-family: "RobotoDraft", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
}
.ui-menu .ui-widget .ui-widget-content .ui-autocomplete .ui-front{
    position: absolute !important;
    z-index: 2 !important;

}
.navbar-static-top {
    z-index: auto !important;
    border-width: 0 0 1px;
}

#customer-search-box{
    color: #000000;
}
select.form-control{
    font-size: small;
}
.card-image{
    height: 5rem;
}
.btn{
    text-transform: uppercase;
    background-color: #0097A7 !important;
    border-color: #0097A7 !important;
    color: #FFFFFF !important;
    border-radius: 3px;
}
.btn-block{
    margin-top: .5rem !important;
}
.btn:hover{
    background-color: #006064 !important;
    border-color: #006064 !important;
}
.btn-default{
    background-color: #FFFFFF !important;
    border-color: #CCCCCC !important;
    color: #555 !important;
}
.btn-default:hover{
    color: #FFFFFF !important;
    background-color: #000000 !important;
    border-color: #FFFFFF !important;
}
.btn-danger{
    border: solid 1px #d9534f !important;
    background-color: #d9534f !important;
    color: #ffffff !important;
}

.label-default{
    background-color: #FFFFFF !important;
    border: solid 1px #0097A7;
    color: #000000 !important;
}
.label-primary{
    background: #0097A7;
}
.label{
    border: solid 1px #0097A7;
}
.label-danger{
    border: solid 1px #d9534f !important;
}
.panel-primary>.panel-heading{
    background-color: #0097A7;
    border-color: #0097A7 !important;
}
.panel-primary{
    padding: 0;
    border-color: #0097A7 !important;
}
a{
    text-decoration: none !important;
}
/* ************************** print methods *******************************/
@media print {
    div.page-header{
        display: none;
    }
    div.row{
        margin: 0;
        padding: 0;

    }
    footer.footer{
        display: none;
    }
    div.col-md-3{
        width: 50%;
        float: left;
    }
    div.notifications{
        display: none;
    }

    /* Default left, right, top, bottom margin is 2cm */
    @page { margin: 2cm }
    .panel, .panel-body, .panel-heading{
        page-break-inside: avoid;
    }
}
/******************************************************************************/

@media(max-width: 768px) {
    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }
    .dropdown-menu{
        position: relative;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display: block !important;
    }
}

.fade-scale {
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}

.fade-scale.in {
    opacity: 1;
    transform: scale(1);
}
.modal-dialog{
    height: 80% !important;
    /* padding-top:10%; */
    overflow-y: initial !important
}
.modal-body{
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}
.tooltip {
    background-color:#000;
    border:1px solid #fff;
    padding:10px 15px;
    width:200px;
    display:none;
    color:#fff;
    text-align:left;
    font-size:12px;

    /* outline radius for mozilla/firefox only */
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
}

/* static css for unit filed inn contractual labours and material*/
#unit-addon-static{
    padding-bottom: 4px !important;
    width: auto;
}

#contractual_labour_unit{
    width: 50%;
}
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.84);
    z-index: 1060;
    cursor: pointer;
}
#spinner{
    position: absolute;
    top: 30%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #0097a7;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
       }
}

/**
Table responsive
 */
@media only screen and (max-width: 800px) {
    /* Force table to not be like tables anymore */
    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables th,
    #no-more-tables td,
    #no-more-tables tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables tr {
        border-bottom: 1px solid #ccc;
    }

    #no-more-tables td {
        /* Behave like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:left;
    }

    #no-more-tables td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #no-more-tables td:before { content: attr(data-title); }
}

/**
Paginations
 */

.pagination>.active>span{
    background-color: rgba(44, 121, 127, 0.86) !important;
    color: #FFFFFF !important;
}
.pagination>li>a, .pagination>li>span{
    color: rgba(44, 121, 127, 0.86) !important;
}
.pagination>.disabled>span{
    color: #777777 !important;
}

/* Autocomplete list */
.ui-autocomplete{
    z-index: 1100 !important;
}