// Place all the styles related to the Investors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.investors-page-header {
  display: flex;
  justify-content: space-between;

  .action-section {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}
