// Place all the styles related to the Sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.site-card .card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}
.site-card .panel-body {
  height: 235px;
  overflow: hidden;
}
.site-card .panel-heading {
  height: 55px;
  overflow: hidden;
}