<div class="site-chip-search-row" style="margin-bottom: 1rem; text-align: right;">
  <div class="input-group input-group-sm site-chip-search-wrap" style="display: inline-block; width: 100%; max-width: 240px; text-align: left; vertical-align: middle;">
    <input type="text" class="form-control site-chip-search" placeholder="Search..." autocomplete="off">
  </div>
</div>
