<div class="site-chip-search-row" style="margin-bottom: 1rem; text-align: right;">
  <div class="input-group input-group-sm site-chip-search-wrap" style="display: inline-block; width: 100%; max-width: 280px; text-align: left; vertical-align: middle;">
    <input type="search" class="form-control site-chip-search" placeholder="Search..." autocomplete="off" enterkeyhint="search">
    <span class="input-group-btn">
      <button class="btn btn-default site-chip-search-btn" type="button" aria-label="Search">Search</button>
    </span>
  </div>
</div>
